osx/hammerspoon/secrets.lua filter=git-crypt diff=git-crypt
fish/fish/functions/gpg-yubikey-encrypt.fish filter=git-crypt diff=git-crypt
fish/fish/functions/gpg-yubikey-encrypt-pipe.fish filter=git-crypt diff=git-crypt
