# For your future reference, these are UltiSnips snippets
priority 1

global !p
from vimsnippets import foldmarker
endglobal

extends markdown

snippet foldp "Insert a vim fold marker pair" b
<!-- ${1:Fold description} `!p snip.rv = foldmarker()[0]` -->
${2:${VISUAL:Content}}
<!--`!p snip.rv = foldmarker()[1]` $1 -->
endsnippet

snippet refl "Reference Link (clip)"
[${1:${VISUAL:Text}}][${2:id}]$0

[$2]:${4:`!v @+`} "${5:$4}"
endsnippet
