extends markdown

snippet kbd "HTML kbd tag"
	<kbd>$1</kbd>

snippet clr "Colored Text"
	<span style="color:blue">$1</span>.

snippet clrp "Colored Text"
	<p style="color:red">$1</p>

snippet clps "Collapsable Text"
	<details>
	<summary>$1</summary>

	$2
	</details>

snippet ref "Reference Header"
	## References

	- [$1]($2)

snippet refc "Reference Header (clip)"
	## References

	- [${1:`@+`}](${2:`@+`})

snippet refl "Reference Link (aldur)"
	[${1:`@+`}][${2:`@+`}]

	[$2]:${4:`@+`} "${5:$4}"
