extends markdown

snippet kbd "HTML kbd tag"
	<kbd>$1</kbd>

snippet clr "Colored Text"
	<span style="color:blue">$1</span>.

snippet clrp "Colored Text"
	<p style="color:red">$1</p>

snippet clps "Collapsable Text"
	<details>
	<summary>$1</summary>

	$2
	</details>
