prettier
prettier-plugin-solidity
sql-formatter
vim-language-server
typescript
typescript-language-server
pyright
dockerfile-language-server-nodejs
solhint
yaml-language-server
vscode-langservers-extracted
